<div class="container my--16">
  <div class="row">
    <%= render @user %>
    <div class="col-12 user__bio p-16">
      <h2>Bio</h2>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <div class="row user__posts">
      <div class="col-6">
      <h3 class="post__list-title">All Posts</h3>
    </div>
    <div class="col-6">
      <div class="post__btn-wrapper-r">
        <button class="btn btn--primary btn__add-new" >Add New Post</button>
      </div>
    </div>
    <% if @user.recent_posts.empty? %>
     <div class="col-12 p-16 user__post">
        <p>No post found!</p>
      </div>
    <% else %>
        <% @user.recent_posts.each do |post| %>
          <%= render post %>
        <% end %>
         <div class="col-12 user__btn-wrapper">
         <%= link_to "See all posts", user_posts_path(@user), class: "btn btn--primary" %>
         </div>
    <% end %>
  </div>
</div>

<script>
  var button = document.querySelector('.btn__add-new');
  button.addEventListener('click', function() {
    window.location.href = '<%= new_user_post_path(@user) %>';
  });
</script>