<div class="container my--16">
  <div class="row">
    <%= render @user %>
  </div>
  <div class="row user__posts">
    <div class="col-6">
      <h3 class="post__list-title">All Posts</h3>
    </div>
    <div class="col-6">
      <div class="post__btn-wrapper-r">
        <button class="btn btn--primary btn__add-new" >Add New Post</button>
      </div>
    </div>
    <% if @user.posts.empty? %>
     <div class="col-12 p-16 user__post">
        <p>No post found!</p>
      </div>
    <% else %>
    <% @user.posts.each do |post| %>
          <%= render post %>
            <% if post.recent_comments.empty? %>
              <div class="col-12 p-16 user__post">
                <p>No comment found!</p>
              </div>
            <% else %>
              <div class="col-12 post__comments p-16">
                  <% post.recent_comments.includes([:user]).each do |comment| %>
                    <%= render comment %>
                  <% end %>
              </div>
            <% end %>
        <% end %>
         <div class="col-12 post__btn-wrapper">
         <%= link_to "Pagination", user_posts_path(@user), class: "btn btn--primary" %>
         </div>
    <% end %>
  </div>
</div>

<script>
  var button = document.querySelector('.btn__add-new');

  button.addEventListener('click', function() {
    window.location.href = '<%= new_user_post_path(@user) %>';
  });
</script>

<script>
  const modalOverlay = document.querySelector('.modal-overlay');
  const flashMessage = document.querySelector('.flash-message');
  const closeModalButton = document.querySelector('.close-modal');

  <% if flash[:notice].present? %>
      flashMessage.innerText = '<%= flash[:notice] %>';
      modalOverlay.style.display = 'block';
  <% end %>

  closeModalButton.addEventListener('click', () => {
    modalOverlay.style.display = 'none';
  });
</script>