<div class="container my--16">
  <div class="row post p-16 my--16">
    <div class="col-6">
      <div class="post__title"><%= @post.title %> #<%= @post.id %> by <%= @post.author.name %> </div>
    </div>
    <div class="col-6">
      <div class="post__extra">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
    </div>
    <div class="col-12">
      <%= @post.text %>
    </div>
  </div>

  <div class="row">
   <% if @post.comments.empty? %>
     <div class="col-12 p-16 user__post">
        <p>No comment found!</p>
      </div>
    <% else %>
    <div class="col-12 post__comments p-16">
      <% @post.comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="row my--16">
    <div class="col-12">
      <% if (@current_user && @post.likes.exists?(user_id: @current_user.id)) %>
      <button class= 'btn btn--disabled' disabled="disabled" ><i class="fa-solid fa-thumbs-up"></i> Like</button>
      <% else %>
        <%= button_to user_post_likes_path(@user =@current_user, @post), method: :post, class: 'btn btn--primary' do %>
          <i class="fa-solid fa-thumbs-up"></i> Like
        <% end %>
      <% end %>
    </div>
  </div>
</div>
