<div class="container my--16">
  <div class="row">
    <div class="col-12 p-16">
      <div class="form__container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
        <%= f.text_field :name, placeholder: "Full name", class: 'w-100' %>
        </div>

        <div class="form-group">
        <%= f.text_field :photo, placeholder: "Profile image url", class: 'w-100' %>
        </div>

        <div class="form-group">
        <%= f.text_field :bio, placeholder: "Biography" , class: 'w-100'%>
        </div>

        <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'w-100' %>
        </div>

        <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: 'w-100' %>
        </div>

        <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: 'w-100' %>
        </div>
        <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn--primary w-100"%>
        </div>
         <div class="form-group">
            <%= render "users/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
